# ==========================================================
# ENTORNOS VIRTUALES
# ==========================================================

venv/
env/
.venv/

# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# STREAMLIT
# ==========================================================

.streamlit/secrets.toml

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.temp

# ==========================================================
# CREDENCIALES
# ==========================================================

.env
.env.*

# ==========================================================
# LOGS
# ==========================================================

*.log

# ==========================================================
# DATASETS
# ==========================================================

ventas.csv
*.csv
*.xlsx
*.xls
